@mixin bordered-box {
  border: 1px solid lightgray;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
  box-shadow: 0.2em 0.2em 0.5em #ddd;
}

@mixin contrast-text {
  color: white;
  text-shadow: 1px 1px black;
}

@mixin button($button-color) {
  $hover-color: darken($button-color, 10);

  @include contrast-text;

  margin: 0.2em;
  padding: 0.5em 1em;

  background-color: $button-color;
  border: 1px solid $hover-color;
  border-radius: 0.25em;

  &:hover {
    background-color: $hover-color;
  }
}
