@import '../commons/style.scss';

.coffee-notification {
  @include bordered-box;
  background-color: #efefef;

  position: relative;

  width: 70%;
  height: 50%;
  margin: auto;

  text-align: center;
  font-family: 'DejaVu Sans';
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h1 {
    font-size: 4em;
    margin: 0;
  }

  .timer {
    font-size: 6em;
    margin: 0;
  }

  .dismiss {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1.5em;
    @include button(#e0e0e0);

    &::before {
      color: crimson;
      content: 'X';
    }
  }
}
