@import '../commons/style';

.time-table {
  @include bordered-box;
}

.user-lane {
  margin-bottom: 0.2em;
  display: flex;
  align-items: center;

  dt {
    flex-basis: 6em;
  }

  dl {
    flex-grow: 1;
    margin: 0;
  }
}

.time-progress {
  position: relative;
  height: 1.5em;
  width: 100%;
  background-color: #f1f1f1;

  @include contrast-text;

  .caption {
    padding: 0.1em 0.5em;
    position: absolute;
    z-index: 1;
  }

  .right {
    right: 0;
  }

  .progress-bar {
    height: 100%;
    line-height: inherit;
    background-color: #d9534f;
  }
}
