@import '../commons/style.scss';

.github {
  &:before {
    background-image: url('./github_logo.png');
    background-size: contain;
    display: inline-block;
    width: 2em;
    height: 2em;
    content: '';
    vertical-align: -50%;
  }

  .authorize {
    @include button(#5cb85c);
  }

}
